// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500;700;900&display=swap');

// colors
$black: #000;
$ink: #2f2725;          // 墨色
$gray: #808080;         // 灰色
$light-ink: #9fa0a0;    // 薄墨色
$white: #fff;           // 白色